<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Catalog :: Przeglądanie notatek</title>
  <link rel="stylesheet" type="text/css" href="../styling/default.css" />
  <link rel="icon" type="image/png" href="../images/cat.png" />
</head>
<body>
  <div class="catsite-wrapper">
    <div class="catsite-header">
      <div class="catsite-header-col">
        <img class="catsite-header-logo" src="../images/catalog.png" />
      </div>
      <div class="catsite-header-col">
        <p>Browse your notes.</p>
      </div>
      <div class="catsite-header-col">
        <div class="catsite-header-btns">
          <img class="catsite-header-icon" src="../images/settings.png" />
          <img class="catsite-header-icon" src="../images/logout.png" />
        </div>
        <div class="catsite-header-btns">
          <img class="catsite-header-icon" src="../images/language.png" />
        </div>
      </div>
    </div>
    <div class="catsite-browser-row catsite-background-coffee">
      <div class="catsite-browser-nav">
        <br />
        <div class="catsite-browser-messages">
          <span>Wyświetlam wszystkie twoje notatki</span>
        </div>
        <br />
        <form action="browse" method="GET">
          <input type="hidden" name="sort" value="dates" />
          <button type="submit">Sortuj według daty</button>
        </form>
        <br />
        <form action="browse" method="GET">
          <input type="hidden" name="sort" value="names" />
          <button type="submit">Sortuj według nazwy</button>
        </form>
        <br />
        <form action="browse" method="POST">
          <input name="name" required type="text" placeholder="nazwa notatki" />
          <button type="submit">Szukaj</button>
        </form>
      </div>
      <div class="catsite-browser-grid">
        <div>
          <a href="."></a>
          <div class="catsite-browser-plus">+</div>
          <span>Dodaj notatkę</span>
        </div>
        <div>
          <a href="."></a>
          <b>title</b><br /><span>modified: today</span>
        </div>
        <div><a></a><span>note-2</span></div>
        <div><a></a><span>note-3</span></div>
        <div><a></a><span>note-4</span></div>
      </div>
    </div>
    <div class="catsite-footer">
      <p>Stopka</p>
    </div>
  </div>
</body>
</html>
