<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Catalog :: User settings</title>
  <link rel="stylesheet" type="text/css" href="../styling/default.css" />
  <link rel="icon" type="image/png" href="../images/cat.png" />
</head>
<body>
  <div class="catsite-wrapper">
    <div class="catsite-header">
      <div class="catsite-header-col">
        <img class="catsite-header-logo" src="../images/catalog.png" />
      </div>
      <div class="catsite-header-col">
        <p>Change your account settings.</p>
      </div>
      <div class="catsite-header-col">
        <div class="catsite-header-btns">
          <img class="catsite-header-icon" src="../images/settings.png" />
          <img class="catsite-header-icon" src="../images/logout.png" />
        </div>
        <div class="catsite-header-btns">
          <img class="catsite-header-icon" src="../images/language.png" />
        </div>
      </div>
    </div>
    <div class="catsite-logon-row catsite-background-night">
      <div class="catsite-logon-col catsite-logon-imgcol">
        <img src="../images/rdj-waits.png" />
      </div>
      <div class="catsite-logon-col">
        <br />
        <div class="catsite-logon-messages">
          <span>Amongus!</span>
        </div>
        <br />
        <form action="onUserUpdate" method="POST">
          <span>Your avatar:</span>
          <img src="../avatars/1.png"/>
          <input name="avatar" required type="file" placeholder="twój awatar">
          <button type="submit">Aktualizuj</button>
        </form>
        <br />
        <form action="onUserUpdate" method="POST">
          <input name="displayName" required type="text" placeholder="nazwa wyświetlana">
          <input name="password1" type="password" placeholder="nowe password">
          <input name="password2" type="password" placeholder="confirm password">
          <button type="submit">Aktualizuj</button>
        </form>
        <br />
        <form action="onUserRemove" method="POST">
          <button type="submit">Zniszcz konto</button>
        </form>
        <br />
      </div>
    </div>
    <div class="catsite-footer">
      <p>Stopka</p>
    </div>
  </div>
</body>
</html>
